// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "sans-serif";
$header-font: "Rubik", "sans-serif";

$font-sm: 0.75rem; // 12px
$font-md: 1.1rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-xxl: 2rem; // 32px
$font-xxxl: 3rem; // 48px
$font-title: 5.6rem; // 90px

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
