@import "colors";
@import "bootstrap_variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding-bottom: 50px;
}

.linear-text-gradient {
  background: linear-gradient(90deg, $orange, $pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
