<div class="position-relative d-flex align-items-center justify-content-center" id="home">
  <div class="glow-circle-orange"></div>
  <div class="glow-circle-pink"></div>

  <div class="container glass-card-home shadow d-flex gap-5 justify-content-start align-items-center object-fit-cover">
  <sh></sh>
  <div class="patern"></div>
    <div class="card-home-content d-flex flex-column justify-content-center align-items-start">
      <div class="card-home-text d-flex flex-column justify-content-end align-items-start gap-2">
        <div class="card-home-title d-flex flex-column  justify-content-end align-items-start gap-1 text-light">
          <div>
            <p>Bonjour,</p>
          </div>
          <div>
            <h1>Moi, c'est Félix</h1>
          </div>
        </div>
        <div class="card-home-sous-titre linear-text-gradient"
              data-controller="text-animation">
          <h2 data-text-animation-target="sousTitre"></h2>
        </div>
        <div class="card-home-description text-light">
          <p>
            Je conçois des <strong>applications web sur mesure</strong>,
            performantes et élégantes, avec une expertise <strong>Ruby on Rails</strong> & <strong>Tailwind</strong>.<br>
            Transformons vos idées en produits digitaux solides et évolutifs.
          </p>
        </div>
      </div>
        <a href="#contact" class="text-decoration-none text-light" aria-label="Aller à la section contact">
          <div class="glass-button card-home-button d-flex align-items-center justify-content-center">
            Contact
          </div>
        </a>
    </div>
    <div class="card-home-picture">
      <%= image_tag 'Hero.webp', class: 'w-100 home-hero', alt: 'Félix Korbendau - Développeur Full-Stack', loading: 'eager' %>
    </div>
  </div>
</div>
