<div class="navbar-kodenet container d-flex align-items-center position-relative">
  <div class="navbar-brand-container d-flex align-items-center justify-content-center">
    <p class="linear-text-gradient navbar-brand mb-0">KODENET</p>
  </div>
  <div class="list-link position-absolute start-50 translate-middle-x">
    <ul class="d-flex justify-content-center align-items-center list-unstyled gap-5 m-0 p-0">
      <li><%= link_to 'À propos', '#a-propos-section', class: 'text-light text-decoration-none' %></li>
      <li><%= link_to 'Projets', '#projets-section', class: 'text-light text-decoration-none' %></li>
      <li><%= link_to 'Contact', '#contact-section', class: 'text-light text-decoration-none' %></li>
    </ul>
  </div>
</div>
