<div class="position-relative">
  <div class="glow-circle-orange"></div>
  <div class="glow-circle-pink"></div>

  <div class="container glass-card-home d-flex gap-5 justify-content-start align-items-center object-fit-cover">
  <div class="patern"></div>
    <div class="card-home-content d-flex flex-column justify-content-center align-items-start">
      <div class="card-home-text d-flex flex-column justify-content-end align-items-start gap-2">
        <div class="card-home-title d-flex flex-column  justify-content-end align-items-start gap-1 text-light">
          <div>
            <p>Bonjour,</p>
          </div>
          <div>
            <h1> Je suis Félix</h1>
          </div>
        </div>
        <div class="card-home-sous-titre linear-text-gradient">
          <p>Dévloppeur Full-Stack</p>
        </div>
        <div class="card-home-description text-light">
          <p>
            Je conçois des applications web sur mesure,
            performantes et élégantes, avec une expertise Ruby on Rails & Tailwind.<br>
            Transformons vos idées en produits digitaux solides et évolutifs.
          </p>
        </div>
      </div>
        <a href="#contact" class="text-decoration-none text-light">
          <div class="glass-button card-home-button d-flex align-items-center justify-content-center">
            Contact
          </div>
        </a>
    </div>
    <div class="card-home-picture">
      <%= image_tag 'Hero.webp', class: 'w-100'%>
    </div>
  </div>
</div>
