<div class="proets-section-container container d-flex flex-column justify-content-center align-items-center position-relative px-0">
  <div class="about-title d-flex align-items-center justify-content-center linear-text-gradient">
    <h2>Réalisations récentes</h2>
  </div>
  <div class="projets-container d-flex flex-column justify-content-start align-items-center">
    <div class="projet-link-container w-100 d-flex gap-2 justify-content-center align-items-center position-relative">
      <div class="glow-circle-pink"></div>
      <div class="glow-circle-orange"></div>
      <div class="w-100 d-flex flex-column justify-content-end align-items-start gap-2">
        <div class="projet-link-title d-flex- flex-column justify-content-end align-items start px-3">
          <p>Projet Wagon</p>
          <h2>L’INK</h2>
        </div>
        <div class="preojet-link-description glass-effect w-100">
          <p>L’INK est une application web dédiée aux passionnés de tatouage.
            Elle permet de trouver facilement des tatoueurs selon leur style, leur localisation
            ou leur popularité, et de visualiser leurs créations.Une fonctionnalité de réalité augmentée
            permet même de projeter un tatouage sur son corps avant de se lancer.
          </p>
        </div>
        <%= link_to link_projet_path, class: 'text-decoration-none text-light' do  %>
          <div class="glass-button info-projet-button d-flex align-items-center justify-content-center">
            En sovoir plus
          </div>
        <% end %>


      </div>
      <div class="w-100 d-flex justify-content-end align-items-center gap-2">
        <div class="preojet-link-photo glass-effect d-flex justify-content-center align-items-center">
          <%= image_tag 'image-link-projet.webp' %>
        </div>
      </div>
    </div>
    <div class="projet-seribox-container w-100 d-flex gap-2 justify-content-center align-items-center position-relative">
      <div class="glow-circle-pink"></div>
      <div class="glow-circle-orange"></div>
      <div class="w-100 d-flex justify-content-start align-items-center gap-2">
        <div class="preojet-link-photo glass-effect d-flex justify-content-center align-items-center">
          <%= image_tag 'image-seribox-projet.webp' %>
        </div>
      </div>
      <div class="w-100 d-flex flex-column justify-content-end align-items-start gap-2">
        <div class="projet-link-title d-flex- flex-column justify-content-end align-items start px-3">
          <p>Projet en cours</p>
          <h2>SERIBOX</h2>
        </div>
        <div class="preojet-link-description glass-effect w-100">
          <p>Développement d’un site web pour SériBOX, une entreprise spécialisée dans l’impression numérique sur tous supports.
              Le site a pour objectif de valoriser leur savoir-faire, présenter leurs services et faciliter la prise de contact avec les clients.
          </p>
        </div>
        <%= link_to link_projet_path, class: 'text-decoration-none text-light' do  %>
          <div class="glass-button info-projet-button d-flex align-items-center justify-content-center">
            En sovoir plus
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>
