<article class="link-features-container w-100 d-flex flex-column justify-content-start align-items-center position-relative px-0 w-100" id="features">
  <div class="glow-circle-pink" aria-hidden="true"></div>
  <div class="glow-circle-orange" aria-hidden="true"></div>

  <header class="link-features-title d-flex flex-column align-items-center justify-content-end">
    <h2 class="linear-text-gradient">Pour les tatoueurs et leurs clients</h2>
    <p class="text-white">Des fonctionnalités optimisées pour la meilleure expérience</p>
  </header>

  <div class="link-features-liste container d-flex align-items-center justify-content-between">
    <div class="link-features-card postion-relative glass-effect glass-effect d-flex align-items-center justify-content-end">
      <%= image_tag 'recherche-mokup.webp', class: 'link-features-mokup' %>
      <div class="features-title text-white  w-100">
        <p><span class="linear-text-gradient">Recherche</span> par style & localisation</p>
      </div>
        <div class="glow-circle-pink" aria-hidden="true"></div>
        <div class="glow-circle-orange" aria-hidden="true"></div>
    </div>
    <div class="link-features-card postion-relative glass-effect d-flex align-items-center justify-content-start">
      <div class="features-title text-white  w-100">
        <p><span class="linear-text-gradient">Contact</span> direct & simplifié</p>
      </div>
      <%= image_tag 'contact-mokup.webp', class: 'link-features-mokup' %>
        <div class="glow-circle-pink" aria-hidden="true"></div>
        <div class="glow-circle-orange" aria-hidden="true"></div>
    </div>
    <div class="link-features-card postion-relative glass-effect d-flex align-items-center justify-content-end">
      <%= image_tag 'carte-mokup.webp', class: 'link-features-mokup' %>
      <div class="features-title text-white w-100">
        <p><span class="linear-text-gradient">Carte</span> interactive des tatoueurs</p>
      </div>
        <div class="glow-circle-pink" aria-hidden="true"></div>
        <div class="glow-circle-orange" aria-hidden="true"></div>
    </div>
    <div class="link-features-card postion-relative glass-effect d-flex align-items-center justify-content-start">
      <div class="features-title text-white  w-100">
        <p><span class="linear-text-gradient">Portfolio</span> tatoueur intégré</p>
      </div>
      <%= image_tag 'portfolio-mokup.webp', class: 'link-features-mokup' %>
        <div class="glow-circle-pink" aria-hidden="true"></div>
        <div class="glow-circle-orange" aria-hidden="true"></div>
    </div>
  </div>
</article>
