<div class="position-relative link-card-home d-flex align-items-center justify-content-center" id="home">
  <div class="glow-circle-orange"></div>
  <div class="glow-circle-pink"></div>

  <div class="container glass-card-home d-flex gap-5 justify-content-start align-items-center object-fit-cover">
  <div class="patern"></div>
    <div class="card-home-content d-flex justify-content-start align-items-start">
      <div class="card-home-text w-100 position-relative d-flex justify-content-start align-items-center gap-2">
        <div class="card-home-title d-flex justify-content-start align-items-start">
          <div class="link-title">
            <h1>L'INK</h1>
          </div>
        </div>
        <div class="card-home-sous-titre linear-text-gradient">
          <h2>L’outil moderne du tatoueur de demain</h2>
        </div>
        <div class="link-phone">
          <div class="spline-viewer-container">
            <spline-viewer loading-anim-type="spinner-small-light" url="https://prod.spline.design/HV3iEXBnw0SYSfj1/scene.splinecode"></spline-viewer>
          </div>
        </div>
        <div class="card-home-texte-droite w-100 d-flex flex-column justify-content-end align-items-start">
          <h2 class="card-home-sous-titre px-0 linear-text-gradient w-100">Un univers encore trop traditionnel...</h2>
          <p class="text-white">La relation client-tatoueur manque de fluidité, et le client a du mal à se projeter.
            L’INK apporte une expérience augmentée, simple et intuitive.
          </p>
        </div>
    </div>
  </div>
</div>
