<div class="position-relative link-card-home" id="home">
  <div class="glow-circle-orange"></div>
  <div class="glow-circle-pink"></div>

  <div class="container glass-card-home d-flex gap-5 justify-content-start align-items-center object-fit-cover">
  <div class="patern"></div>
    <div class="card-home-content d-flex justify-content-start align-items-start">
      <div class="card-home-text w-100 position-relative d-flex justify-content-start align-items-center gap-2">
        <div class="card-home-title d-flex justify-content-start align-items-start">
          <div>
            <h1>L'INK</h1>
          </div>
        </div>
        <div class="card-home-sous-titre linear-text-gradient">
          <h2>L’outil moderne du tatoueur de demain</h2>
        </div>
        <div class="link-phone">
          <spline-viewer loading-anim-type="spinner-small-dark" url="https://prod.spline.design/HV3iEXBnw0SYSfj1/scene.splinecode"></spline-viewer>
        </div>
    </div>
  </div>
</div>
