@import "config/bootstrap_variables";
@import "config/fonts";

.mimoji-about{
  left: 5%;
  top: 10%;
  width: 13%;

  img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
  }
}

.about-section-container{
  gap: 3.2rem; // 50px

  .glow-circle-pink{
    bottom: -10%;
    right: 9%;
    z-index: -1;
    background-color: rgba($color: $pink, $alpha: 0.40); // orange à 59%
    filter: blur(130px);

  }

  .glow-circle-orange{
    bottom: 14%;
    right: 30%;
    z-index: -1;
    background-color: rgba(255, 102, 0, 0.40); // orange à 59%
    filter: blur(130px);
  }
}

.about-title h2{
  font-size: $font-xxxl; // 48px
  font-weight: 600;
}

.about-description {
  width: 60%;

  p{
    font-size: $font-md; // 18px
    font-weight: 400;
    text-align: center;
    color: $white;
  }

  span{
    font-weight: 700;
  }
}

.skills-container{
  gap: 1rem;
}

.skill-container-line{
  gap: 1.5rem;
}

.skill-glass-container{
  width: 72px;
  height: 72px;
  border-radius: 16px;

  img {
    max-height: 70%;
    height: auto;
  }

  .tailwind{
    max-width: 70%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .skill-glass-container {
    width: 72px;
    height: 72px;
  }

  .skill-container-line{
  gap: 1.5rem;
  }
}

@media (max-width: 576px) {
  .skill-glass-container {
    width: 60px;
    height: 60px;
  }

  .skill-container-line{
  gap: 1rem;
  }
}
