@import "config/colors";
@import "config/fonts";

.navbar-kodenet {
  justify-content: left;
  height: 60px;
  margin-top: 25px;
}

.navbar-brand-container{
  width: fit-content;
  height: 100%;
}

.navbar-kodenet .navbar-brand{
  font-size: 32px;
  font-weight: 600;
}
