@import "../../config/fonts";
@import "../../config/bootstrap_variables";

.link-features-container {
  gap: 50px;
  width: 100%;

  .glow-circle-orange {
    position: absolute;
    bottom: 20%; // Décale le halo sous la section
    left: -15%;
    background-color: rgba($color: $orange, $alpha: 0.35);
    filter: blur(100px);
    z-index: -1;
  }

  .glow-circle-pink {
    position: absolute;
    bottom: 20%; // Décale le halo sous la section
    right: -15%;
    background-color: rgba($color: $pink, $alpha: 0.35);
    filter: blur(100px);
    z-index: -1;
  }
}

.link-features-title {
  gap: 12px;

  h2 {
    font-size: $font-xxxl;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: $font-md;
    font-weight: 400;
    text-align: center;
    color: $white;
  }
}

.link-features-card {
  width: 21%;
  aspect-ratio: 9 / 14;
  overflow: hidden;
  gap: 16px;
  transition: all 0.4s ease;
  padding-inline: 10px;
  flex-direction: column;

  p {
    font-family: $body-font;
    margin: 0;
    font-size: $font-xl;
    font-weight: 600;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .link-features-mokup {
    width: 160%;
  }

  .glow-circle-orange {
    bottom: -10%;
    left: -10%;
    background-color: rgba($color: $orange, $alpha: 0.1);
    filter: blur(40px);
    transition: all 0.4s ease;
  }

  .glow-circle-pink {
    bottom: -10%;
    right: -10%;
    background-color: rgba($color: $pink, $alpha: 0.1);
    filter: blur(40px);
    transition: all 0.4s ease;
  }
}

.link-features-card:hover {
  transform: scale(1.1);;

  .glow-circle-orange {
    background-color: rgba($color: $orange, $alpha: 0.2);
    filter: blur(50px);
  }

  .glow-circle-pink {
    background-color: rgba($color: $pink, $alpha: 0.2);
    filter: blur(50px);
  }
}

@media (max-width: 1200px) {
  .link-features-card {
    width: 22%;

    .link-features-mokup {
      width: 140%;
    }

    p {
      font-size: $font-lg;
    }
  }

  .link-features-container .glow-circle-orange {
    bottom: 0;
  }
  .link-features-container .glow-circle-pink {
    bottom: 0;
  }
}

@media (max-width: 992px) {
  .link-features-liste {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .link-features-card {
    width: 40%;
    min-width: 220px;

    .link-features-mokup {
      width: 120%;
    }

    p {
      font-size: $font-md;
    }
  }
}

@media (max-width: 768px) {
  .link-features-title h2 {
    font-size: $font-xl;
  }

  .link-features-title p {
    font-size: $font-sm;
  }

  .link-features-liste {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .link-features-card {
    width: 100%;
    aspect-ratio: 14 / 9;

    p {
      font-size: $font-sm;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 480px) {
  .link-features-container {
    gap: 25px;
  }
  .link-features-title h2 {
    font-size: 1.1rem;
  }

  .link-features-card {
    width: 100%;
    min-width: 120px;
    aspect-ratio: 14 / 8;
    flex-direction: row-reverse;
    gap: 2px;

    .link-features-mokup {
      height: 245%;
      object-fit: cover;
      object-position: center;
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
      display: block;
      padding-top: 50%;
    }

    p {
      font-size: 1rem;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    &:hover{
      transform: scale(1.02);
    }
  }

  .link-features-liste {
    gap: 1.2rem;
  }
}
