@import "../../config/fonts";
@import "../../config/bootstrap_variables";


.link-card-home .glow-circle-orange{
  bottom: 0%;
  left: 36%;
  z-index: -1;
}

.link-card-home .glow-circle-pink{
  top: 7%;
  left: 36%;
  z-index: -1;
}

.link-card-home .glass-card-home{
  z-index: 1;
  padding-left: 0;
}

.link-card-home .card-home-text{
  height: 100%;
}

.link-card-home .card-home-title{
  position: absolute;
  top: -1%;
  left: 2%;

  h1{
    font-family: $header-font;
    font-size: 350px;
    font-weight: 600;
    color: rgba($color: $white, $alpha: 0.2);
    line-height: 1;
  }
}

.link-card-home .card-home-sous-titre{
  width: 100%;
  padding-left: 4%;

  h2{
    margin-top: 120px;
    font-size: $font-xxxl;
  }
}

.conatiner-phone{
  height: 100%;
}

// Image du héros - centré et sticky
.link-phone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 2;

  spline-viewer {
    width: 100%;
    height: auto;
  }
}

.card-home-texte-droite{
  padding-right: 4%;
  height: 100%;
  padding-bottom: 8%;
}
